* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

em,
i {
    font-size: norman;
}

li {
    list-style: none;
}

img {
    border: 0;
    vertical-align: middle;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

body {
    -webkit-font-somthing: antialiased;
}